{% extends 'base_evolved.html' %}

{% block title %} Logout {% endblock %}

{% block header %}
You succesfully logged out
{% endblock %}

{% block content %}
<a href="{% url 'Home' %}"class="btn btn-primary"><i class="bi bi-house-door"></i><span class="removable-sm"> Back to home page</span></a>
{% endblock %}