{% extends 'base_manipulate.html' %}

{% block title %} Login {% endblock %}

{% block header %}
Login
{% endblock %}

{% block form_buttons %}
    <button type="submit"><i class="bi bi-check-lg"></i> Confirm</button>
    <a href="{% url 'Home' %}"><button><i class="bi bi-house-door"></i><span class="removable-sm"> Back to home page</span></button></a>
{% endblock %}