{% extends 'base_manipulate.html' %}

{% load crispy_forms_tags %}

{% block title %} Edit Profile {% endblock %}

{% block header %}
Edit profile
{% endblock %}

{% block form_buttons %}
    <button type="submit"><i class="bi bi-check-lg"></i> Confirm</button>
    <a href="{% url 'user:user_profile' object.user.pk %}"><button type="button"><i class="bi bi-x-lg"></i><span class="removable-sm"> Undo</span></button></a>
{% endblock %}