{% extends 'base_list.html' %}

{% block list_title %} User list {% endblock %}

{% block list_header %}
User list
{% endblock %}

{% block list_content %}
    <table class="table-striped my-3">
        <thead class="thead-dark"><tr><th>Username</th><th>Email</th><th>Status</th><th></th></tr></thead>
        {% for u in object_list %}
            <tr>
                <td>{{u.username}}</td>
                <td>{{u.email}}</td>
                <td>
                    {% if u.is_staff %}
                        <i class="bi bi-star-fill"></i> Admin
                    {% else %}
                        <i class="bi bi-user-fill"></i> User
                    {% endif %}
                </td>
                <td class="menu-right">
                    <a href="{% url 'user:user_profile' u.pk %}" class="btn btn-primary"><i class="bi bi-eye"></i><span class="removable-md"> Visualize</span></a>
                    <a href="{% url 'user:user_delete' u.pk %}" class="btn btn-primary btn-delete"><i class="bi bi-trash"></i><span class="removable-md"> Delete</span></a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block post_extra %}
    <a href="{% url 'user:signup' %}"class="btn btn-primary mt-4"><i class="bi bi-plus-lg"></i><span class="removable-md"> New recipe</span></a>
{% endblock %}