{% extends 'base_evolved.html' %}
{% load static %}
{% load ratings %}

{% block title %} {{detail_user.username|capfirst}} {% endblock %}

{% block header %}
{{detail_user.username|capfirst}}
{% endblock %}

{% block content %}
<div>
    <div class="row">
        <div class="col-md-2 col-sm-12 my-2 d-flex align-items-center justify-content-center">
            {% if not profile.picture %}
                <img class="round center default-image profile-pic-lg" src="https://heliosgarden.it/wp-content/plugins/all-in-one-seo-pack/images/default-user-image.png">
            {% else %}
                <img class="round center profile-pic-lg" src='{{ profile.picture.url }}'>
            {% endif %}
        </div>
        <div class="col-md-10 col-sm-12">
            <h2 class="amatic">
                {% if detail_user.is_staff %}
                    <i class="bi bi-star-fill mr-2"></i>
                {% else %}
                    <i class="bi bi-user-fill mr-2"></i>
                {% endif %}
                {{detail_user.username}}
            </h2>

            <p>Email: <i>{{detail_user.email}}</i></p>
        </div>
    </div>

    <div class="row">
        <p class="text-justify mx-3">{{profile.description}}</p>
    </div>

    {% if user.pk == object.pk or user.is_staff %}
        <a href="{% url 'user:user_update' detail_user.pk %}"class="btn btn-primary mt-2 mb-4"><i class="bi bi-person"></i><span class="removable-md"> Change email or password</span></a>
        <a href="{% url 'user:profile_update' profile.pk %}"class="btn btn-primary mt-2 mb-4"><i class="bi bi-pencil"></i><span class="removable-md"> Add a description or a picture</span></a>
    {% endif %}
    {% if user.is_staff %}
        <a href="{% url 'user:user_list' %}"class="btn btn-primary mt-2 mb-4"><i class="bi bi-arrow-left"></i><span class="removable-md"> Back to user list</span></a>
    {% endif %}

    <h2 class="amatic">Recipes from {{detail_user.username}}</h2>
    <div class="row center align-items-center mb-4">
        {% if recipes %}
            {% for recipe in recipes %}
                <a href="{% url 'recipe:recipe_detail' recipe.pk %}"  class="col-md-3 col-sm-6 p-1">
                    <div class="card">
                        {% if not recipe.image %}
                            <img class="card-img-top center default-image" src="{% static 'images/Logo.png' %}">
                        {% else %}
                            <img class="card-img-top center" src='{{ recipe.image.url }}' alt="Card image cap">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{recipe.title}}</h5>
                            <p class="card-text font-italic">{{recipe.author}}</p>
                            {% ratings recipe %}
                        </div>
                    </div>
                </a>
            {% endfor %}
        {% else %}
            <p class="mx-3">There are no recipes by this user</p>
        {% endif %}
    </div>
</div>
{% endblock %}