{% extends 'base_manipulate.html' %}

{% block title %} Sign up {% endblock %}

{% block header %}
Sign up
{% endblock %}

{% block form_buttons %}
    <button type="submit"><i class="bi bi-check-lg"></i> Confirm</button>
    <a href="{% url 'Home' %}"><button type="button"><i class="bi bi-x-lg"></i><span class="removable-sm"> Undo</span></button></a>
{% endblock %}