{% extends 'base_manipulate.html' %}

{% block title %} Delete User {% endblock %}

{% block header %}
Delete User
{% endblock %}

{% block extras %}
    <p>Are you sure you want to delete this user? <b>This action cannot be undone</b></p>
    <table>
        <tr><td>Username</td><td>{{object.username}}</td></tr>
        <tr><td>Email</td><td>{{object.email}}</td></tr>
        <tr><td>Admin</td><td>{{object.admin}}</td></tr>
    </table>
{% endblock %}

{% block form_buttons %}
    <button type="submit"><i class="bi bi-check-lg"></i> Confirm</button>
    <a href="{% url 'user:user_list' %}"><button type="button"><i class="bi bi-x-lg"></i><span class="removable-sm"> Undo</span></button></a>
{% endblock %}