body {
    background-color: #eeaa55;
    }

h1 {
    font-family:"Amatic SC";
    color:black;
    font-size: 350%;
    font-weight: bold;
}
a:hover {text-decoration:none}

.amatic {
    font-family:"Amatic SC";
    font-weight: bold;
}

.container {
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 5px 5px rgba(221,119,17,0.3);
    }

.footer {
    background-color: #dd7711;
    color: white;
}

.footer * a{
    color: white;
}

.round {
    border-radius: 100%;
}

.profile-pic-lg {
    width: 120px;
    height: 120px;
    overflow: hidden;
}
.profile-pic-md {
    width: 60px;
    height: 60px;
    overflow: hidden;
}
.profile-pic-sm {
    width: 30px;
    height: 30px;
    overflow: hidden;
}

.card {
    height: 340px;
}
.card-img-top {
    height: 60%;
}

table {
    width:100%
}

.thead-dark {
    background-color: #dd7711;
    color: white;
}
th, td {
    padding:10px 5px 10px 5px;
}
td.menu-right {
    padding: 5px;
}

.ingredients-table tr {
    border-bottom: 1px dotted #eeaa55;
}

button, .btn, input[type=button], input[type=submit] {
    background-color: #eeaa55;
    color: black;
    border: 0px;
    padding: 7px 10px 7px 10px;
    border-radius: 3px;
}

button:hover, .btn:hover, input[type=button]:hover, input[type=submit]:hover {
    background-color: #dd7711;
    color: white;
    border: 0px;
}

.btn-delete {
    background-color: #ee7755;
    color: black;
}
.btn-delete:hover {
    background-color: #dd1111;
    color: white;
}
.btn-edit {
    background-color: #88dd33;
    color: black;
}
.btn-edit:hover {
    background-color: #339911;
    color: white;
}

.btn-secondary {
    background-color: transparent;
    color: black;
    border: 0px;
    margin: 0px;
    padding: 10px;
    border-radius: 0px;
}

.menu-right {
    float: right;
}

.comment {
    border-radius: 20px;
    box-shadow: 0px 5px 5px rgba(221,119,17,0.3);
    border: 2px solid #eeaa55
}

.comment * .btn {
    border-radius: 100%;
    padding: 3px 7px 3px 7px;
}

.toggledown {
    display:none;
    border-radius:20px;
    background-color: rgba(221,119,17,0.5);
    padding: 10px
}

.multiline {
    white-space: pre-wrap;
}

a .card{
    color: black;
    text-decoration: none;
}


.star-ratings-rating-average, .star-ratings-rating-count, .star-ratings-rating-user {
    display:none !important;
}
.card-body .star-ratings {
    display:flex !important;
    width:100%;
    justify-content:center !important;
}


.opacity-0 {
    opacity: 0%;
}
.opacity-25 {
    opacity: 25%;
}
.opacity-50 {
    opacity: 50%;
}
.opacity-75 {
    opacity: 75%;
}
.opacity-100 {
    opacity: 100%;
}






@media (max-width: 575.98px) {
	.removable-sm { display:none }
	.addable-sm { display:block }
	button {padding:5px 10px; margin:5px;}
}

@media (max-width: 767.98px) {
	.removable-md { display:none }
	.addable-md { display:block }
}

@media (max-width: 991.98px) {
	.removable-lg { display:none }
	.addable-lg { display:block; }
}

@media (max-width: 1199.98px) {
	.removable-xl { display:none }
	.addable-xl { display:block }
}

@media (max-width: 1399.98px) {
	.removable-xxl { display:none }
	.addable-xxl { display:block }
}



@media (min-width: 575.98px) {
	.addable-sm { display:none }
}

@media (min-width: 767.98px) {
	.addable-md { display:none }
}

@media (min-width: 991.98px) {
	.addable-lg { display:none; }
}

@media (min-width: 1199.98px) {
	.addable-xl { display:none }
}

@media (min-width: 1399.98px) {
	.addable-xxl { display:none }
}
