{% extends 'base.html' %}
{% load static %}

{% block logo %}
<a href="{% url 'Home' %}">
    <div class="addable-md">
        <div class="d-flex justify-content-center">
            <img src="{% static 'images/Logo.png' %}">
        </div>
    </div>
    <div class="removable-md">
        <div class="d-flex align-items-center">
            <img src="{% static 'images/Logo.png' %}">
            <h1 class="px-2 my-0">CookBook</h1>
        </div>
    </div>
</a>
{% endblock %}

{% block messages %}
    {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ message | safe }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
{% endblock %}

{% block dropdown %}
    <div class="dropdown">
        <div class="btn-group">
            <button class="btn btn-secondary dropdown-toggle dropdown-toggle-split" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Recipes
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a href="{% url 'recipe:recipe_list' %}" class="dropdown-item">All recipes</a>
                {% if user.is_authenticated %}
                  <a href="{% url 'recipe:recipe_create_1' %}" class="dropdown-item">Create new recipe</a>
              {% endif %}
            </div>
        </div>
        <div class="btn-group menu-right">
              {% if user.is_authenticated %}
                  <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      {{user.username}}
                  </button>
                  <div class="dropdown-menu dropdown-menu-right">
                      <a href="{% url 'user:user_profile' user.pk %}"class="dropdown-item">Your profile</a>
                          {% if user.is_staff %}
                          <a href="{% url 'user:user_list' %}"class="dropdown-item">User list</a>
                          <a href="{% url 'admin:index' %}"class="dropdown-item">Administration</a>
                          {% endif %}
                      <a href="{% url 'logout' %}"class="dropdown-item">Logout</a>
                  </div>
              {% else %}
                  <a href="{% url 'user:signup' %}"class="btn-secondary btn">Signup</a>
                  <a href="{% url 'login' %}"class="btn-secondary btn">Login</a>
              {% endif %}
        </div>
    </div>
{% endblock %}

{% block footer %}

     <div class="row text-center addable-md mb-3">
         Published in 2022 by Chiara Calzolari for her Web Technologies Exam
    </div>
    <div class="row">
        <div class="col col-6 border-right removable-md">
            <span class="removable-sm">Published in 2022 by Chiara Calzolari for her Web Technologies Exam</span>
        </div>
        <div class="col border-right text-center">
            <a href="https://gitlab.com/Cookie-CHR/cookbook" class="removable-md">Follow the project on GitLab</a>
            <a href="https://gitlab.com/Cookie-CHR/cookbook" class="addable-md">GitLab</a>
        </div>
        <div class="col text-center">
            <a href=# class="removable-md">Another random link</a>
            <a href=# class="addable-md">Link</a>
        </div>
    </div>
    <div class="opacity-50 text-center mt-3">Copyrights and such - All rights reserved, blah blah blah</div>
{% endblock %}