{% extends 'base_evolved.html' %}
{% load static %}
{% load ratings %}

{% block title %} CookBook - home page {% endblock %}

{% block header %}
Welcome to CookBook
{% endblock %}

{% block content %}
    <p>Cookbook is an online recipe website where everyone can visualize, publish and comment his recipes.</p>
    <a href="{% url 'recipe:recipe_list' %}" class="btn mb-5"><i class="bi bi-book"></i><span class="removable-sm"> Recipe list</span></a>
    <h2 class="amatic">New recipes</h2>
    <div class="row center align-items-center mb-5">
        {% for recipe in newest %}
            <a href="{% url 'recipe:recipe_detail' recipe.pk %}" class="col-md-3 col-sm-6 p-1">
                <div class="card">
                    {% if not recipe.image %}
                        <img class="card-img-top center default-image" src="{% static 'images/Logo.png' %}">
                    {% else %}
                        <img class="card-img-top center" src='{{ recipe.image.url }}' alt="Card image cap">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{recipe.title}}</h5>
                        <p class="card-text font-italic">{{recipe.author}}</p>
                        {% ratings recipe %}
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>

    <h2 class="amatic">Most rated recipes</h2>
    <div class="row center align-items-center mb-5">
        {% for recipe in rated %}
            <a href="{% url 'recipe:recipe_detail' recipe.pk %}" class="col-md-3 col-sm-6 p-1">
                <div class="card">
                    {% if not recipe.image %}
                        <img class="card-img-top center default-image" src="{% static 'images/Logo.png' %}">
                    {% else %}
                        <img class="card-img-top center" src='{{ recipe.image.url }}' alt="Card image cap">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{recipe.title}}</h5>
                        <p class="card-text font-italic">{{recipe.author}}</p>
                        {% ratings recipe %}
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}