{% extends 'base_evolved.html' %}

{% block title %} Maintenance {% endblock %}

{% block header %}
Maintenance
{% endblock %}

{% block content %}
<p>This website is under maintenance!</p>
<p>Service will be back soon.</p>
{% endblock %}
