{% extends 'base_manipulate.html' %}

{% load crispy_forms_tags %}

{% block title %} Edit Comment {% endblock %}

{% block header %}
Edit comment
{% endblock %}

{% block form_buttons %}
    <button type="submit"><i class="bi bi-check-lg"></i> Confirm</button>
    <a href="{% url 'recipe:recipe_detail' object.post.pk %}"><button type="button"><i class="bi bi-x-lg"></i><span class="removable-sm"> Undo</span></button></a>
{% endblock %}