{% extends 'base_manipulate.html' %}

{% block title %} Delete Comment {% endblock %}

{% block header %}
Delete Comment
{% endblock %}

{% block extras %}
    <p>Are you sure you want to delete this comment? <b>This action cannot be undone</b></p>
    <table>
        <tr><td>Author</td><td>{{object.author}}</td></tr>
        <tr><td>Text</td><td>{{object.text}}</td></tr>
    </table>
{% endblock %}

{% block form_buttons %}
    <button type="submit"><i class="bi bi-check-lg"></i> Confirm</button>
    <a href="{% url 'recipe:recipe_detail' object.post.pk %}"><button type="button"><i class="bi bi-x-lg"></i><span class="removable-sm"> Undo</span></button></a>
{% endblock %}