{% extends 'base_manipulate.html' %}

{% block title %} New Recipe {% endblock %}

{% block header %}
 New Recipe - Title
{% endblock %}

{% block extras %}
    <p>First, choose a title for your recipe</p>
{% endblock %}

{% block form_buttons %}
    <button type="submit"><i class="bi bi-check-lg"></i> Confirm</button>
    <a href="{% url 'recipe:recipe_list' %}"><button type="button"><i class="bi bi-x-lg"></i><span class="removable-sm"> Back to recipe list</span></button></a>
{% endblock %}