{% extends 'base_evolved.html' %}
{% load crispy_forms_tags %}

{% block title %} Edit Recipe {% endblock %}

{% block header %}
Edit recipe
{% endblock %}

{% block content %}
    <form method="post">{% csrf_token %}
        <p>Ingredients*</p>
        {% for i in formset %}
            <div>{{i}}</div>
        {% endfor %}
        <br>
        {{ form|crispy }}

        <button type="submit"><i class="bi bi-check-lg"></i> Confirm</button>
        <a href="{% url 'recipe:recipe_update' object.pk %}"><button type="button"><i class="bi bi-x-lg"></i><span class="removable-sm"> Undo</span></button></a>
    </form>
{% endblock %}