{% extends 'base_evolved.html' %}
{% load crispy_forms_tags %}

{% block title %} {{object.title|capfirst}} {% endblock %}

{% block header %}
<div class="d-flex align-items-center">
{{object.title|capfirst}}
    {% if user.is_staff or user == object.author.user %}
        <a href="{% url 'recipe:title_update' object.pk %}" class="btn btn-primary btn-edit ml-3" style=font-family:arial><i class="bi bi-pencil"></i>Edit title</a>
    {% endif %}
</div>
{% endblock %}

{% block content %}
    <a href="{% url 'recipe:recipe_detail' object.pk %}" class="btn btn-primary "><i class="bi bi-arrow-left"></i><span class="removable-md"> Back</span></a>
    <a href="{% url 'recipe:recipe_delete' object.pk %}" class="btn btn-primary btn-delete"><i class="bi bi-trash"></i><span class="removable-md"> Delete recipe</span></a>
    <br>


    <div class="mt-5">
        <h2 class="amatic">Ingredients:</h2>
        <table class="ingredients-table">
            {% for i in ingredients %}
                <tr>
                    <td><b>{{ i.name }}</b></td>
                    <td>{{ i.quantity }}</td>
                </tr>
            {% endfor %}
        </table>
        {% if user.is_staff or user == object.author.user %}
            {% if ingredients %}
            <a href="{% url 'recipe:ingredient_update' object.pk %}" class="btn btn-primary btn-edit mt-3"><i class="bi bi-pencil"></i> Edit ingredients</a>
            {% else %}
            <a href="{% url 'recipe:ingredient_update_empty' object.pk %}" class="btn btn-primary btn-edit mt-3"><i class="bi bi-pencil"></i> Edit ingredients</a>
            {% endif %}
        {% endif %}
    </div>

    <div class="mt-5">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <h2 class="amatic">Procedure:</h2>
                <p class="text-justify multiline">{{object.content}}</p>
                {% if user.is_staff or user == object.author.user %}
                    <a href="{% url 'recipe:content_update' object.pk %}" class="btn btn-primary btn-edit"><i class="bi bi-pencil">Edit content</i></a>
                {% endif %}
            </div>
            <div class="col-lg-4 col-md-12">
                <h2 class="amatic">Image:</h2>
                {% if object.image %}
                    <img class="d-flex justify-content-center" src='{{ object.image.url }}' style="width:100%; height:auto">
                {% endif %}
                {% if user.is_staff or user == object.author.user %}
                    <a href="{% url 'recipe:image_update' object.pk %}" class="btn btn-primary btn-edit mt-2"><i class="bi bi-pencil">Edit image</i></a>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="mt-5">
        <h2 class="amatic">Tags:</h2>
        {% for t in tags %}
            <span class="btn">{{t.tagname}}</span>
        {% endfor %}
        {% if user.is_staff or user == object.author.user %}
                {% if tags %}
                <a href="{% url 'recipe:tag_update' object.pk %}" class="btn btn-primary btn-edit"><i class="bi bi-pencil"></i> Edit tags</a>
                {% else %}
                <a href="{% url 'recipe:tag_update_empty' object.pk %}" class="btn btn-primary btn-edit"><i class="bi bi-pencil"></i> Edit tags</a>
                {% endif %}
        {% endif %}
    </div>

{% endblock %}