{% extends 'base_evolved.html' %}
{% load crispy_forms_tags %}

{% block title %} New Recipe {% endblock %}

{% block header %}
 New Recipe - Ingredients
{% endblock %}

{% block content %}
    <p>Now add the ingredients to the table</p>
    <form id="form" method="post" enctype='multipart/form-data' autocomplete="off">{% csrf_token %}
        {{form.management_form}}
        {% for f in form %}
        <div class="form-div">{{ f|crispy }}</div>
        {% endfor %}
        <button id="add-form" type="button"><i class="bi bi-plus-lg"></i> Add another ingredient</button>
        <br><br>
        <button type="submit"><i class="bi bi-check-lg"></i> Confirm</button>
        <a href="{% url 'recipe:recipe_list' %}"><button type="button"><i class="bi bi-x-lg"></i><span class="removable-sm"> Back to recipe list</span></button></a>
    </form>
{% endblock %}


{% block javascript %}
    <script>
        let form = document.querySelectorAll(".form-div")
        let container = document.querySelector("#form")
        let addButton = document.querySelector("#add-form")
        let totalForms = document.querySelector("#id_ingredientof_set-TOTAL_FORMS")
        let formNum = form.length-1

        addButton.addEventListener('click', addForm)

        function addForm(e) {
            e.preventDefault()

            let newForm = form[0].cloneNode(true) //Clone the initial form
            let formRegex = RegExp(`ingredientof_set-(\\d){1}`,'g') //Regex to find all instances of the form number

            formNum++ //Increment the form number
            newForm.innerHTML = newForm.innerHTML.replace(formRegex, `ingredientof_set-${formNum}`) //Update the new form to have the correct form number
            container.insertBefore(newForm, addButton) //Insert the new form at the end of the list of forms

            totalForms.setAttribute('value', `${formNum+1}`) //Increment the number of total forms in the management form
        }
    </script>

{% endblock %}