{% extends 'base_evolved.html' %}
{% load crispy_forms_tags %}
{% load ratings %}
{% load static %}

{% block title %} {{object.title|capfirst}} {% endblock %}

{% block header %}
{{object.title|capfirst}}
{% endblock %}

{% block content %}
    <a href="{% url 'recipe:recipe_list' %}" class="btn btn-primary"><i class="bi bi-arrow-left"></i><span class="removable-md"> Back to recipe list</span></a>
    {% if user.is_staff or user == object.author.user %}
        <td class="menu-right">
            <a href="{% url 'recipe:recipe_update' object.pk %}" class="btn btn-primary btn-edit"><i class="bi bi-pencil"></i>Edit recipe</a>
            <a href="{% url 'recipe:recipe_delete' object.pk %}" class="btn btn-primary btn-delete"><i class="bi bi-trash"></i>Delete recipe</a>
        </td>
    {% endif %}

    <div class="mt-5">
        <h2 class="amatic">Ingredients:</h2>
        <table class="ingredients-table">
            {% if ingredients %}
                {% for i in ingredients %}
                    <tr>
                        <td><b>{{ i.name }}</b></td>
                        <td>{{ i.quantity }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr class="mx-3">This recipe has no ingredients. How is that even possible?</tr>
            {% endif %}
        </table>
    </div>

    <div class="mt-5">
        {% if object.image %}
            <div class="row">
                <div class="col-lg-8 col-md-12">
                    <h2 class="amatic">Procedure:</h2>
                    {% if object.content %}
                        <p class="text-justify multiline">{{object.content}}</p>
                    {% else %}
                        <p class="mx-3">This recipe has no content. How is that even possible?</p>
                    {% endif %}
                </div>
                <div class="col-lg-4 col-md-12">
                    <img class="d-flex justify-content-center" src='{{ object.image.url }}' style="width:100%; height:auto">
                </div>
            </div>
        {% else %}
            <h2 class="amatic">Procedure:</h2>
            {% if object.content %}
                <p class="text-justify multiline mb-0">{{object.content}}</p>
            {% else %}
                <p class="mx-3">This recipe has no content. How is that even possible?</p>
            {% endif %}
        {% endif %}

        <div class="author-div d-flex align-items-center mt-2">
            {% if not object.author.picture %}
                <img class="round center default-image profile-pic-md" src="https://heliosgarden.it/wp-content/plugins/all-in-one-seo-pack/images/default-user-image.png">
            {% else %}
                <img class="round center profile-pic-md" src='{{ object.author.picture.url }}'>
            {% endif %}
            <a href="{% url 'user:user_profile' object.author.user.pk %}"><span class="font-italic ml-2">{{object.author}}</span></a>
        </div>
    </div>

    <div class="mt-5">
        <h2 class="amatic">Tags:</h2>
        {% if tags %}
            {% for t in tags %}
                <span class="btn">{{t.tagname}}</span>
            {% endfor %}
        {% else %}
            <p class="mx-3">This recipe has no tags</p>
        {% endif %}
    </div>
    <div class="mt-5">
        <h2 class="amatic">Rate this recipe</h2>
        {% ratings object %}
    </div>
{% endblock %}

{% block extra-content %}
    <section class="container h-100 my-3 py-2 px-3">
        <h1 class="mb-4">Comments</h1>

        {% if comments %}
            {% for c in comments %}
                <div class="comment m-2 p-2">
                    <div class="comment-header">
                            {% if not c.author.picture %}
                                <img class="round center default-image profile-pic-sm" src="https://heliosgarden.it/wp-content/plugins/all-in-one-seo-pack/images/default-user-image.png">
                            {% else %}
                                <img class="round center profile-pic-sm" src='{{ c.author.picture.url }}'>
                            {% endif %}
                        <span class="font-italic">{{c.author}}</span>
                        {% if user.is_staff or user == c.author.user %}
                            <span class="menu-right">
                                <a href="{% url 'recipe:comment_update' c.pk %}" class="btn btn-primary btn-edit"><i class="bi bi-pencil"></i></a>
                                <a href="{% url 'recipe:comment_delete' c.pk %}" class="btn btn-primary btn-delete"><i class="bi bi-trash"></i></a>
                            </span>
                        {% endif %}
                    </div>
                    <p class="text-justify multiline">{{c.text}}</p>
                </div>
            {% endfor %}
        {% else %}
            <p class="mx-3">There are no comments in this recipe yet. Be the first to write one!</p>
        {% endif %}

        <h1 class="mb-4">Write your comment</h1>

        {% if user.is_authenticated %}
        <form method="post">{% csrf_token %}
            {{ form|crispy }}
            <button type="submit"><i class="bi bi-check-lg"></i> Confirm</button>
        </form>
        {% else %}
            <p class="mx-3">You must be registered to send a comment. <a href="{% url 'user:signup' %}">Sign up now!</a></p>
        {% endif %}

    </section>

    <section class="container h-100 my-3 py-2 px-3">
        <h1 class="mb-4">Similar recipes</h1>
        <div class="row center align-items-center mb-4">
            {% for recipe in recommended %}
                <a href="{% url 'recipe:recipe_detail' recipe.pk %}" class="col-md-3 col-sm-6 p-1">
                    <div class="card">
                        {% if not recipe.image %}
                            <img class="card-img-top center default-image" src="{% static 'images/Logo.png' %}">
                        {% else %}
                            <img class="card-img-top center" src='{{ recipe.image.url }}' alt="Card image cap">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{recipe.title}}</h5>
                            <p class="card-text font-italic">{{recipe.author}}</p>
                            {% ratings recipe %}
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </section>
{% endblock %}