{% extends 'base_manipulate.html' %}

{% block title %} Delete Recipe {% endblock %}

{% block header %}
Delete recipe
{% endblock %}

{% block extras %}
    <p>Are you sure you want to delete this field? <b>This action cannot be undone</b></p>
    <table>
        <tr><td>Title</td><td>{{object.title}}</td></tr>
        <tr><td>Author</td><td>{{object.author}}</td></tr>
        <tr><td>Content</td><td>{{object.content}}</td></tr>
    </table>
{% endblock %}

{% block form_buttons %}
    <button type="submit"><i class="bi bi-check-lg"></i> Confirm</button>
    <a href="{% url 'recipe:recipe_list' %}" type="button"><button type="button"><i class="bi bi-x-lg"></i><span class="removable-sm"> Undo</span></button></a>
{% endblock %}