{% extends 'base_list.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load ratings %}

{% block list_title %} Recipes {% endblock %}

{% block list_header %}
Recipes
{% endblock %}

{% block list_content %}
    <button class="mb-3" onclick="toggleSearch()">Advanced search</button>
    <form id="SearchForm" class="toggledown">
        {% crispy form form.helper %}
    </form>

    {% if form.has_changed %}
    <h2 class="amatic">Recipes that matched your search</h2>
    <div class="row center align-items-center mb-5">
        {% if object_list%}
            {% for recipe in object_list %}
                <a href="{% url 'recipe:recipe_detail' recipe.pk %}" class="col-md-3 col-sm-6 p-1">
                    <div class="card">
                        {% if not recipe.image %}
                            <img class="card-img-top center default-image" src="{% static 'images/Logo.png' %}">
                        {% else %}
                            <img class="card-img-top center" src='{{ recipe.image.url }}' alt="Card image cap">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{recipe.title}}</h5>
                            <p class="card-text font-italic">{{recipe.author}}</p>
                            {% ratings recipe %}
                        </div>
                    </div>
                </a>
            {% endfor %}
        {% else %}
            <p class="mx-3">No recipes matched your research</p>
        {% endif %}
    </div>
    {% endif %}

    <h2 class="amatic">New recipes</h2>
    <div class="row center align-items-center mb-5">
        {% for recipe in newest %}
            <a href="{% url 'recipe:recipe_detail' recipe.pk %}" class="col-md-3 col-sm-6 p-1">
                <div class="card">
                    {% if not recipe.image %}
                        <img class="card-img-top center default-image" src="{% static 'images/Logo.png' %}">
                    {% else %}
                        <img class="card-img-top center" src='{{ recipe.image.url }}' alt="Card image cap">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{recipe.title}}</h5>
                        <p class="card-text font-italic">{{recipe.author}}</p>
                        {% ratings recipe %}
                        </div>
                </div>
            </a>
        {% endfor %}
    </div>

    <h2 class="amatic">Most rated recipes</h2>
    <div class="row center align-items-center mb-5">
        {% for recipe in rated %}
            <a href="{% url 'recipe:recipe_detail' recipe.pk %}" class="col-md-3 col-sm-6 p-1">
                <div class="card">
                    {% if not recipe.image %}
                        <img class="card-img-top center default-image" src="{% static 'images/Logo.png' %}">
                    {% else %}
                        <img class="card-img-top center" src='{{ recipe.image.url }}' alt="Card image cap">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{recipe.title}}</h5>
                        <p class="card-text font-italic">{{recipe.author}}</p>
                        {% ratings recipe %}
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>

    <h2 class="amatic">All recipes</h2>
    <div class="row center align-items-center mb-4">
        {% for recipe in all %}
            <a href="{% url 'recipe:recipe_detail' recipe.pk %}" class="col-md-3 col-sm-6 p-1">
                <div class="card">
                    {% if not recipe.image %}
                        <img class="card-img-top center default-image" src="{% static 'images/Logo.png' %}">
                    {% else %}
                        <img class="card-img-top center" src='{{ recipe.image.url }}' alt="Card image cap">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{recipe.title}}</h5>
                        <p class="card-text font-italic">{{recipe.author}}</p>
                        {% ratings recipe %}
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>

    <script>
        function toggleSearch(){
          var x = document.getElementById("SearchForm");
          if (x.style.display === "none") {
            x.style.display = "block";
          } else {
            x.style.display = "none";
          }
        }
    </script>
{% endblock %}

{% block post_extra %}
    <a href="{% url 'recipe:recipe_create_1' %}" class="btn btn-primary mt-4"><i class="bi bi-plus-lg"></i><span class="removable-md"> New recipe</span></a>
{% endblock %}